.members-sum, 
.members-cmp {

    .active-member-list {
        display: flex;
    }

    img {
		width: 1.875rem;
		height: 1.875rem;
		border-radius: 50%;
	}
	.members-cmp-initials{
		border-radius: 50%;
		height: 2rem;
		width: 2rem;
		background-color: hotpink;
		text-align: center;
		line-height: 2rem;
		color: white;
		text-transform: uppercase;

	}


	.MuiSvgIcon-root.css-i4bv87-MuiSvgIcon-root.no-members {
		width: 1.875rem;
		height: 1.875rem;
		color: #cecfd8;
		border-radius: 50%;
	}

	.MuiButton-root.MuiButton-containedPrimary.members-button {
		display: flex;
		background-color: inherit;
		width: 6.0623rem;
		&:hover {
			background-color: inherit;
		}
	}

	.plus-members {
		font-size: 1rem;
        background-color: #333;
        border-radius: 50%;
		width: 30px;
		height: 30px;
        padding: 5px;
		color: #fff;
        font-size: 12px;
        font-weight: 300;
		&.sum {
			padding: 3px 0 0 .5rem;
		}
	}
}

.picker-container {
	.MuiTypography-root.MuiTypography-body1.member-picker {
		display: flex;
		width: 17.75rem;
		height: 2.125rem;
		padding: 0.3rem;
		font-size: 0.8125rem;
		font-weight: 300;
		text-align: center;
		cursor: pointer;
		border-radius: 0.25rem;

		

		img {
			width: 1.563rem;
			height: 1.563rem;
			border-radius: 50%;
			margin-inline-end: 0.7rem;
		}
	}
}
.picker-container{
	&:hover {
		background-color: #0085ff;
		color: #fff;
	}
	.member-img-container{
		display: flex;
		flex-direction: row;
		>*:not(:first-child){
			margin-left: 5px;
			line-height: 2rem;
			text-transform: capitalize;
		}
	}
	.member-img {
		border-radius: 50%;
		height: 2rem;
		width: 2rem;
		color: white;
		line-height: 2rem;
		background-color: hotpink;
		text-align: center;
		text-transform: uppercase;

		img{
			height: 2rem;
			width: 2rem;
			border-radius: 50%;
		}
	}
}
