.add-number {
    width:125px;
    height: 35px;
    background-color: inherit;
    // padding: 15px, 0, 0;
    
    input {
        text-align: center;
        width: 112px;
        height: 25px;
        background-color: inherit;
        border: none;
        
        &:hover {
            border: 1px dashed #c4c4c4;
        }
    }
}