.boardlist-container {
	position: relative;
	transition: 0.6s;

	> *:not(:first-child) {
		display: none;
		opacity: 0;
	}

	background-color: #f5f6f8;
	width: 2rem;
	.workspace-toggle {
		background-color: #f5f6f8;
		height: 40px;
		text-align: center;
		border: 1px black solid;
		border-radius: 3px;
		width: 80%;
		margin-left: 10%;
		cursor: pointer;
		h2 {
			line-height: 35px;
		}
	}

	&.open {
		width: 16rem;

		> * {
			display: block;
			opacity: 1;
			transition: opacity 0.7s;
		}
        .toggle-btn{
            transition: 0.6s;
            left: 200px;
        }
	}

	.toggle-btn {
		position: relative;
		top: 2rem;
		left: 20px;
        
	}
}

.add-board {
	margin-top: 2rem;
	width: 90%;
	height: 30px;
	text-align: left;
	margin-left: 5%;
	cursor: pointer;
	border-radius: 6px;
	&:hover {
		background-color: #e6e9ef;
	}
}
.filter-boards {
	width: 90%;
	height: 30px;
	text-align: left;
	margin-left: 5%;
	cursor: pointer;
	border-radius: 6px;
	&:hover {
		background-color: #e6e9ef;
	}
}

.boardlist-container .plus:hover,
.boardlist-container .filter:hover {
	background-color: #e6e9ef;
}

.break-line {
	height: 1px;
	background-color: lightgray;
	width: 80%;
	margin-left: 10%;
	margin-top: 2rem;
}
