.board-preview {
  position: relative;
  overflow: visible;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .btns-container {
    visibility: hidden;
  }

  &.on-hover {
    .btns-container {
      visibility: visible;
    }
  }
}



.btn-ellipsis.MuiButton-containedPrimary {
  min-width: unset;
  padding: 0 0.8rem;
  font-size: 1rem;
  background-color: transparent;
  box-shadow: none;
  &:hover {
    background-color: transparent;
    box-shadow: none;
  }

  .fa-solid {
    color: $clr5;
  }
}

