.boardlist-container {
	position: sticky;
	top:0;
	width: 2rem;
	height: 100vh;
	color: #676879;
	transition: 0.3s;
	background-color: #f5f6f8;
	padding: 2.5rem 1rem;

	display: flex;
	flex-direction: column;

	.workspace-toggle,
	div,
	span,
	.break-line {
		overflow: hidden;
		text-overflow: clip;
		white-space: nowrap;
		transition: opacity ease-out 0.3s;
		opacity: 0;
	}

	.workspace-toggle {
		background-color: #f5f6f8;
		height: 40px;
		text-align: center;
		border: 1px black solid;
		border-radius: 3px;
		margin-bottom: 0.5rem;
		cursor: pointer;

		h2 {
			line-height: 35px;
		}
	}

	&.open {
		width: 16rem;

		.workspace-toggle,
		div,
		span,
		.break-line {
			opacity: 1;
		}
	}

	> *:not(.boards-container) {
		padding-inline-start: 0.5rem;
		cursor: pointer;
		border-radius: 6px;

		&:hover {
			background-color: #e6e9ef;
		}
	}

	.toggle-btn {
		position: absolute;
		transition: 0.3s;
		right: 0;
		transform: translate(50%, -100%);
		border-radius: 50%;
		border: none;
		padding: 4px 8px;

		&:hover {
			background-color: #0073ea;
			color: white;
		}
	}

	.break-line {
		height: 1px;
		background-color: #e6e9ef;
		margin: 2rem 0 2rem;
	}

	.boards-container {
		> * {
			padding-inline-start: 0.5rem;
			cursor: pointer;
			border-radius: 6px;
			overflow: hidden;
			&:hover {
				background-color: #e6e9ef;
			}
		}
	}

	.menu-pos {
		position: relative;
	}
}

