.group-header{
    display: flex;

    .dynamic-cmp {
        text-align: center;
        color: #323338;
        font-size: 0.875rem;
        border-radius: 8px 8px 0 0;
        font-weight: 400;
        padding-top: 5px;
    }

    .group-name-container{
        width: 406px;
        display: flex;
        font-size: 18px;
    
        .drag-group{
            color: #c4c4c4;
            font-size: 1.2rem;
            display: none;
            height: 100%;
            // padding-top:.2rem;
        }
        .collapse-group {
            background-color: #e1e1e1;
            border-radius: 4px;
            color: #666;
            font-size: 1.2rem;
            display: none;
            // height: 100%;
            margin-top:.6rem;
        }
    
        &:hover{
            .drag-group{
                display: block;
            }
            .collapse-group {
                display: block;
                opacity: 0.8;
                &:hover {opacity: 1}
            }
        }
    }

}