.update-preview{
    position: relative;
    padding: 1rem;
    margin: 1rem;
    border: 1px #0073ea solid;
    border-radius: 6px;
    .edit{
        display: flex;
        justify-content: space-between;
    }
    .comment-txt{
        font-weight: bolder;
        max-width: 30px;
    }
    .fa-solid.times{
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0.5rem;
    }
    .uploaded-img{
        height: 100px;
        width: 100px;
    }
    .update-like-container{
        display: flex;
        .like-update{
            :first-child{
                font-size: 1.4rem;
                margin-right: 0.3rem;
            }
            width: 50%;
            border-top:1px grey solid ;
            text-align: center;
        }
        .comment-update{
            :first-child{
                font-size: 1.4rem;
                margin-right: 0.3rem;
            }
            width: 50%;
            border-top:1px grey solid ;
            border-left: 1px grey solid;
            text-align: center;
        }
    }
      
}


