.story {
	display: flex;
	flex-direction: row;
	background-color: #f5f6f8;
	border: 1px solid #fff;
	height: 2.313rem;
	font-size: 0.8125rem;
	line-height: 1.5rem;
	font-weight: 400;
	cursor: pointer;

	&:-moz-drag-over {
		cursor: -moz-grab;
	}

	&:hover {
		background-color: #e6e9ef;
	}

	.story-txt-area {
		display: flex;
		width: 25.375rem;

		&:hover {
			.story-title {
				color: #1f76c2;

				// &:hover {
				// 	border: 1px dotted grey;
				// }
			}
		}

		.story-txt {
			width: 100%;
			display: flex;
			justify-content: space-between;
			margin: none;
			padding: 0.3rem;
			

			&:hover {
				// background-color: #cce5ff; this needs to be onclick

				.story-editor button {
					opacity: 1;
				}
			}

			.story-editor {
				margin-inline-start: 0.5rem;
				display: flex;
				input:focus-visible{
					outline: none;
					border: 1px dashed grey;

						
				}

				button {
					opacity: 0;
					margin: 0 0 0 1rem;
					height: fit-content;
					padding: 0.25rem 0.5rem;
					border-radius: 0.25rem;
					font-size: 0.875rem;
					border: none;
					color: #676879;
					background-color: inherit;
					cursor: pointer;
					font-weight: 400;

					&:hover {
						background-color: #f5f6f8;
					}
					
				}
			}

			.MuiSvgIcon-root.update-bubble.css-i4bv87-MuiSvgIcon-root {
				color: #c5c7d0;
				transition: 0.1s;

				&:hover {
					color: #0085ff;
				}
			}
		}

		.story-selector {
			width: 0.5rem;
			transition: 0.1s;

			&:hover {
				width: 2rem;
			}
		}
	}

	.react-datepicker-wrapper {
		width: unset;
	}

	img {
		width: 1.875rem;
		height: 1.875rem;
		border-radius: 50%;
	}

	.MuiSvgIcon-root.css-i4bv87-MuiSvgIcon-root.no-members {
		width: 1.875rem;
		height: 1.875rem;
		color: #cecfd8;
		border-radius: 50%;
	}

	button {
		height: 2.25rem;
		border: 1px solid #fff;
		font-size: 0.8125rem;
		box-shadow: none;
		font-weight: 400;
		border-radius: 0;
		padding: 0;

		&:hover {
			box-shadow: none;
			opacity: 0.8;
		}
	}

	.MuiButton-root.MuiButton-containedPrimary.priority-button {
		width: 5.75rem;
	}

	.MuiButton-root.MuiButton-containedPrimary.status-button {
		position: relative;
		width: 7.313rem;
		font-size: 0.6625rem;
	}

	.dog-ear {
		position: relative;

		&:before,
		&:after {
			display: block;
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			transition: all 0.3s;
		}
		&:before {
			border-top: 0px solid transparent;
			border-left: 0px solid rgba(0, 0, 0, 0.3);
		}
		&:after {
			border-bottom: 0px solid transparent;
			border-right: 0px solid #fff;
		}

		&:hover {
			&:before {
				border-top: 12px solid transparent;
				border-left: 12px solid rgba(0, 0, 0, 0.3);
			}
			&:after {
				border-bottom: 12px solid transparent;
				border-right: 12px solid #fff;
			}
		}
	}
	.MuiButton-root.MuiButton-containedPrimary.members-button {
		display: flex;
		background-color: inherit;
		width: 6.0623rem;
		&:hover {
			background-color: inherit;
		}
	}

	// .timeline {
	// 	min-width: 180px;
	// 	padding: .4rem;
	// 	text-align: center;
	// 	height: 1.5rem;

	// 	input {
	// 		height: 1.5rem;
	// 		background-color: #c4c4c4;
	// 		border: none;
	// 		text-align: center;
	// 		border-radius: 25px;
	// 	};

	// 	&:hover {
	// 		input {
	// 			background-color: #666;
	// 		}
	// 	}
	// }

	// .num-of-days {
	// 	width: 180px;
	// 	padding: .4rem;
	// 	height: 1.5rem;
	// 	text-align: center;
	// 	border-radius: 25px;
	// 	background-color: #666;

	// }
	.timeline {
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-basis: 180px;
		min-width: 180px;
		
		.date-pick-wrapper {
			display: flex;
		}
		.date-picker-cmp,
		.date-picker,
		.no-date,
		.set-dates,
		.num-of-days {
			width: 152px;
			font-size: 13px;
			// amend width side so it won't use pixels.
			display: inline-block;
			padding: 1.25px 5.25px;
			border: none;
			background-color: #c4c4c4;
			color: white;
			line-height: 22px;
			border-radius: 25px;
			margin: 0 auto;
			cursor: pointer;
		}

		.date-picker-container {
			width: 152px;
			height: 1.5rem;
			border-radius: 25px;
			position: relative;
			
			.date-picker-cmp {
				width: 152px;

				background-color: transparent;
				position: absolute;
				top: -45px;
				right: -78px;
			}
			
			.progress-bar {
				position: absolute;
				height: 25px;
				border-radius: 11px;
			}

			.grey-bck {
				width: 152px;
				height: 1.5rem;
				background-color: #c4c4c4;
				border-radius: 25px;
			}
		}

		// .date-picker-cmp {
		//     // position: absolute;
		//     // top: 36px;
		//     // z-index: 3;
		// }

		// .date-picker-pos {
		// 	transform: translate(-45px, 20px) !important;
		// }
	}
}

.picker-container {
	padding: 0.5rem;

	.MuiTypography-root.MuiTypography-body1.element-picker {
		color: #fff;
		width: 7rem;
		height: 2rem;
		padding: 0;
		font-size: 0.8125rem;
		text-align: center;
		padding-top: 0.4063rem;
		cursor: pointer;

		&:hover {
			opacity: 0.8;
		}
	}

	.MuiTypography-root.MuiTypography-body1.member-picker {
		display: flex;
		width: 17.75rem;
		height: 2.125rem;
		padding: 0.3rem;
		font-size: 0.8125rem;
		font-weight: 300;
		text-align: center;
		cursor: pointer;
		border-radius: 0.25rem;

		&:hover {
			background-color: #0085ff;
			color: #fff;
		}

		img {
			width: 1.563rem;
			height: 1.563rem;
			border-radius: 50%;
			margin-inline-end: 0.7rem;
		}
	}
}

// fix thiss!!!
.plus-members {
	font-size: 1rem;
	color: #666;
}