.story {
	display: flex;
	flex-direction: row;
	background-color: #f5f6f8;
	border: 1px solid #fff;
	height: 37px;

	.story-txt {
		width: 406px;
		margin: none;
		padding: none;
	}

	.react-datepicker-wrapper {
		width: unset;
	}

	img {
		width: 1.82rem;
		height: 1.82rem;
		border-radius: 50%;
	}

	button {
		height: 2.186rem;
		border: 1px solid #fff;
		font-size: 0.8125rem;
		box-shadow: none;
		font-weight: 400;
		border-radius: 0;
        padding: 0;

		&:hover {
			box-shadow: none;
			opacity: 0.8;
		}
	}

	.MuiButton-root.MuiButton-containedPrimary.priority-button {
		width: 92px;
	}

	.MuiButton-root.MuiButton-containedPrimary.status-button {
		width: 117px;
        font-size: 0.6625rem;
	}

	.MuiButton-root.MuiButton-containedPrimary.members-button {
		background-color: inherit;
		width: 97px;
		&:hover {
			background-color: inherit;
		}
	}
}

.status-options {
	padding: 0.5rem;
}
