@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
	font-family: fa;
	src: url('../../fonts/fa/fa-regular-400.ttf');
}

@font-face {
	font-family: fa-brands;
	src: url('../../fonts/fa/fa-brands-400.ttf');
}

@font-face {
	font-family: fa-solid;
	src: url('../../fonts/fa/fa-solid-900.ttf');
}

.fa {
	font-family: fa;
}

.fa-solid {
	font-family: fa-solid;
}

.fa-brands {
	font-family: fa-brands;
}

.fa.trash::before {
	content: '\f2ed';
}

.fa.bell::before {
	content: '\f0f3';
}

.fa.inbox::before {
	content: '\f01c';
}

.fa.calendar-check::before {
	content: '\f274';
}


.fa-solid.question::before {
	content: '\f128';
}


.fa.edit-hollow::before {
	content: '\f044';
}

.fa.edit-filled::before {
	content: '\f044';
}

.fa.search::before {
	content: '\f002';
}

.fa.img::before {
	content: '\f03e';
}

.fa.clone::before {
	content: '\f24d';
}

.fa.times::before {
	content: '\f057';
}

/*  Brands */

.fa-brands.youtube::before {
	content: '\f167';
}

/* Solid Style */




.fa-solid.search::before {
	content: '\f002';
}
.fa-solid.angledown::before {
	content: '\f107';
}
.fa-solid.angleup::before {
	content: '\f106';
}
.fa-solid.angleright::before {
	content: '\f105';
}
.fa-solid.angleleft::before {
	content: '\f104';
}
.fa-solid.filter::before {
	content: '\f0b0';
}

.fa-solid.th-large::before {
	content: '\f009';
}


.fa-solid.puzzle-piece::before {
	content: '\f12e';
}

.fa-solid.user-plus::before {
    content: '\f234';
}

.fa-solid.inbox::before {
	content: '\f01c';
}

.fa-solid.arrow-left::before {
	content: '\f060';
}

.fa-solid.close-filled::before {
	content: '\f410';
}

.fa-solid.plus::before {
	content: '\f067';
}

.fa-solid.check::before {
	content: '\f00c';
}

.fa-solid.font::before {
	content: '\f031';
}

.fa-solid.chevron-left::before {
	content: '\f053';
}

.fa-solid.list::before {
	content: '\f03a';
}

.fa-solid.color::before {
	content: '\f53f';
}

.fa-solid.pin::before {
	content: '\f08d';
}
